body {
  background-color: #e5e5e5;
  padding: 40px;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  background-color: #ffffff;
  width: 1000px;
  height: 1200px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Main content */
.main-content {
  padding: 150px 88px 88px 88px;
}

/* About me */

.profession {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin: 0;
  text-transform: uppercase;
}
.professions {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #3fc7df;
  margin: 0;
  text-transform: uppercase;
}
.my-name {
  font-style: normal;
  width: 200px;
  text-transform: uppercase;
  font-size: 37px;
  color: #3fc7df;
  margin: 0;
}

.my-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
  color: #ffffff;
  width: 270px;
  margin: 0;
}
.about-me {
  margin: 0;
  padding: 0 50px;
}

/* Projects */

.main-content-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  line-height: 27px;
  color: #3fc7df;
  margin: 0 0 8px 0;
  background-color: #203572;
  width: 400px;
}

.project-item {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #203572;
}

.project-list {
  padding: 0 0 0 16px;
  margin: 0;
  list-style-type: none;
}

.projects {
  margin-bottom: 48px;
}

.project-item-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.project-item-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #005fff;
}

.work-experience-position {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #3fc7df;
  margin: 0;
}

.work-experience-item {
  margin: 16px;
}

.work-experience-comp {
  color: #6d9bf5;
}

.work-period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #3fc7df;
  margin: 0;
  padding-bottom: 5px;
}

.work-duties {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #203572;
}

.work-duties-list {
  margin: 0;
  padding: 0 15px;
}

.education-cont {
  padding: 0;
}

.education-position {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  padding: 0;
  margin: 0;
}
.education-uni {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #6d9bf5;
  margin: 12 0 12 0;
}

.education-mang {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.education-period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}
/* Sidebar */

.sidebar {
  width: 370px;
  background-color: #203572;
}

.contacts {
  padding: 0 50px;
  margin: 0;
}
.techskills {
  padding: 0 50px;
  margin: 0;
  text-transform: uppercase;
}
.sidebartitle {
  font-size: 14px;
  line-height: 27px;
  color: #3fc7df;
  margin: 0;
  text-transform: uppercase;
}

.contacts-type {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
}

.contacts-item {
  margin: 0;
}

.contacts-number {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
}

.contacts-email {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
}

.skills-list {
  margin: 0;
  padding-left: 15px;
}

.skills-list-item {
  color: #ffffff;
  margin: 0;
  font-size: 10px;
}

.skills-list-text {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
}
.softskills {
  padding: 0 50px;
  margin: 0;
}
.soft-list {
  margin: 0;
  padding-left: 15px;
}

.soft-list-item {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
}

.soft-list-text {
  font-style: normal;
  font-weight: 400;
  font-size: 10x;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
}
.language {
  padding: 0 50px;
  margin: 0;
}
.language-list {
  padding-left: 15px;
  margin: 0;
}

.language-list-item {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
}

.language-list-text {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
}
